
/* url('/static/images/background_image.jpeg') */

/* background  :  #343a40; */
/*background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
   */

body{
  background-image: url('/static/images/ras_background_image.jpg');
}


/*
{
  color: #dee2e6;
  font-family: cursive;
}

*/
h1,h3,h5,p{
    font-family: cursive;
    color: #9e2a2b;
}

#nav1,#nav2,#nav3,#follow-me{
    font-family: cursive;
    color: #eddcd2;
}


#logo{
  border-radius: 70px 25px;
  border-right-style: dotted;
  border-top-color: black;
}


#heading{
  height: auto;
  width: 38%;
  background-color: #f9dcc4;
  opacity: 0.8;
  border-radius: 200px 100px;
  color: #000814;
}


#inner_post{
    background-color: #f9dcc4;
    border-radius: 200px 100px;
    opacity: 1;
    padding: 70px 60px;
}

#freelancer{
    background-color: #f9dcc4;
    border-radius: 200px 100px;
    opacity: 1;
    padding: 300px 100px;
    font-family: cursive;
}

#text{
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

#formdiv,#table_container{
    background-color: #f9dcc4;
    border-radius: 200px 100px;
    opacity: 1;
    padding: 150px 50px;
    font-family: cursive;
}

#bio_content{
    background-color: #f9dcc4;
    border-radius: 200px 100px;
    opacity: 1;
    padding: 100px 100px;
    font-family: cursive;
}

#bio_content1{
    background-color: #f9dcc4;
    border-radius: 200px 100px;
    opacity: 1;
    padding: 100px 100px;
    font-family: cursive;
}



#formdiv{
    background-color: #f9dcc4;
    border-radius: 200px 100px;
    opacity: 1;
    padding: 100px 50px;
    font-family: cursive;
}

#form{
    background-color: #adb5bd;
     margin:10px;
     padding:50px 50px;
     border-radius : 40px 300px;
}

.center{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

td{
  margin: auto;
  width: auto;
  padding: 15px;
  text-align : center;
}

