<!DOCTYPE html>
{% extends 'base.html' %}
{% block content%}
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    <br><br>
    <center>
      <h1 id="heading">--Bio's--</h1>
    </center>

    <br><br>

    <div class="container" id="table_container">
        <center style="align-content: center; padding-bottom:50px;">
            <h3>Biographies are but clothes and buttons of the man!.</h3>
            <p>That requires quite an imaginative leap because it's hard for me to imagine that my biography would be of much
                interest to anyone, and because I'm a fairly private person, the notion doesn't appeal to me.</p>
        </center>


      <div class="row ">
        <div class="col col-lg-2">
          <img src="{% static 'images/rohit_photo2.png' %}" height="400" width="320" style="border-radius: 150px 150px;">
        </div>

        <div class="col-md-2">

        </div>
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;">
            <table class="table " height="400" width="100" >
                <tr>
                  <td><h4> Birthday : 14th June 1996  </h4> </td>
                  <td><h4>  Age : 25  </h4></td>
                </tr>
                <tr>
                    <td> <h4> Mobile : +91 9966615058 </h4></td>
                    <td> <h4>Email : rohitprshnth09@gmail.com </h4></td>
                </tr>
                <tr>
                    <td> <h4>Address : 12-11-722/A, Warasiguda.</h4> </td>
                  <td> <h4> Area : Secunderabad  </h4> </td>
                </tr>
                <tr>
                    <td> <h4>City : Hyderabad</h4>  </td>
                    <td> <h4>State : Telangana, 500061.</h4> </td>
                </tr>
            </table>
        </div>
      </div>
    </div>

    <br><br>

    <div class="container" id="bio_content">
         <center style="align-content: center; padding-bottom:50px;">
                 <h1>.!My all time Quote!.</h1>
            <p>"First of all, convince yourself that you are the best because the rest of your life is going to go proving this to others"</p>
        </center>
    </div>

    <br><br>



    
        <br><br>
    <div class="container" id="bio_content">
    <div class="row">
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1 >I Love Cricket :)</h1>
            <p>"For decades, cricket has been considered the gentleman’s game. Fine pitch, critical bouncers, twist and turns,
                sweeps and lofts and running shoes all around. A game of elite class as well as exciting spirit with a billion strong
                fan-base worldwide." </p>
            </center>
                </div>

        <div class="col col-md-2" >
            <center>
                <img src="{% static 'images/cricket.jpg' %}" height="250" width="180" style="margin-left:100px; border-radius: 20px; ">
            </center>
        </div>

      </div>

        <br><br> <br><br> <br><br>
        <div class="row">

         <div class="col col-md-3" >

          <img src="{% static 'images/music.jpeg' %}" height="250" width="180" style="margin-right:100px; border-radius: 20px; ">
        </div>

        <div class="col col-lg-7" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1 >Music is Life :P</h1>
            <p>"Music doesn't get in. Music is already in. Music simply uncovers what is there, makes you feel emotions that you didn't
                necessarily know you had inside you, and runs around waking them all up. A rebirth of sorts." </p>
            </center>
                </div>
      </div>

        <br><br> <br><br> <br><br>


        <div class="row">
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> !Adventure is worthwhile! </h1>
            <p>"The world is a book and those who do not travel read only one page.To my mind, the greatest reward and luxury of
                travel is to be able to experience everyday things as if for the first time, to be in a position in which almost
                nothing is so familiar it is taken for granted." </p>
            </center>
                </div>

        <div class="col col-md-2" >

          <img src="{% static 'images/adventure.jpeg' %}" height="250" width="180" style="margin-left:100px; border-radius: 20px; ">
        </div>
      </div>

        <br><br> <br><br> <br><br>
        <div class="row">

         <div class="col col-md-3" >

          <img src="{% static 'images/friends.jpeg' %}" height="180" width="250" style="margin-right:100px; border-radius: 20px; ">
        </div>

        <div class="col col-lg-7" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> Hanging out with loved ones:)</h1>
            <p>"There is nothing better than hanging out with the people who matter the most to us like your friends and family.
                These precious moments make unforgetable memories which you cherish for life. " </p>
            </center>
        </div>

      </div>

    </div>

    </div>

    <br><br>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

{% endblock %}