<!DOCTYPE html>
{% extends 'base.html' %}
{% block content%}
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    <br><br>
    <center>
      <h1 id="heading">--Bio's--</h1>
    </center>

    <br><br>

    <div class="container" id="table_container">
        <center style="align-content: center; padding-bottom:50px;">
            <h3>Biographies are but clothes and buttons of the man!.</h3>
            <p>That requires quite an imaginative leap because it's hard for me to imagine that my biography would be of much
                interest to anyone, and because I'm a fairly private person, the notion doesn't appeal to me.</p>
        </center>


      <div class="row ">
        <div class="col col-lg-2">
          <img src="{% static 'images/Rasgnya-bio-image.png' %}" height="400" width="320" style="border-radius: 150px 150px;">
        </div>

        <div class="col-md-2">

        </div>
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;">
            <table class="table " height="400" width="100" >
                <tr>
                  <td><h4> Birthday : 4th July 1995  </h4> </td>
                  <td><h4>  Age : 25  </h4></td>
                </tr>
                <tr>
                    <td> <h4> Mobile : +91 9703054049 </h4></td>
                    <td> <h4>Email : munjamrasagnya@gmail.com </h4></td>
                </tr>
                <tr>
                    <td> <h4>Address : 2-4-525/A, Ramnagar.</h4> </td>
                  <td> <h4> Area : Hanumakonda  </h4> </td>
                </tr>
                <tr>
                    <td> <h4>City : Warangal </h4>  </td>
                    <td> <h4>State : Telangana, 506001.</h4> </td>
                </tr>
            </table>
        </div>
      </div>
    </div>

    <br><br>

    <div class="container" id="bio_content">
         <center style="align-content: center; padding-bottom:50px;">
                 <h1>.!My all time Quote!.</h1>
            <p>"First of all, convince yourself that you are the best because the rest of your life is going to go proving this to others"</p>
        </center>
    </div>

    <br><br>



    
        <br><br>
    <div class="container" id="bio_content">
    <div class="row">
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> Interested in Spirituality </h1>
            <p>"Spirituality has nothing to do with the atmosphere you live in. Its about the
                atmosphere you create within yourself." </p>
            </center>
                </div>

        <div class="col col-md-2" >
            <center>
                <img src="{% static 'images/Spirituality_Crop.jpg' %}" height="200" width="250" style="margin-left:100px; border-radius: 20px; ">
            </center>
        </div>

      </div>

        <br><br> <br><br> <br><br>
        <div class="row">

         <div class="col col-lg-4" >

          <img src="{% static 'images/music.jpeg' %}" height="250" width="200" style="  margin:50px; border-radius: 20px; ">
        </div>

        <div class="col col-md-7" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1 >Music is Life :P</h1>
            <p>"In the rhythm of life we sometimes find ourself out of tune, but as long as there is
                is a good music-'life goes on!'." </p>
            </center>
                </div>
      </div>

        <br><br> <br><br> <br><br>


        <div class="row">
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> !Travelling! </h1>
            <p>"Travelling makes you realise how beautiful your world is and how tiny your
                problems are!!" </p>
            </center>
                </div>

        <div class="col col-md-2" >

          <img src="{% static 'images/travelling.jpg' %}" height="200" width="250" style="margin-left:100px; border-radius: 20px; ">
        </div>
      </div>

        <br><br> <br><br> <br><br>
        <div class="row">

         <div class="col col-md-4" >

          <img src="{% static 'images/historical-books.jpg' %}" height="200" width="250" style="margin-right:100px; border-radius: 20px; ">
        </div>

        <div class="col col-lg-7" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> Likes knowing History :)</h1>
            <p>"People without the knowledge of their past history, origin and culture are like
                a tree's without roots!!"</p>
            </center>
        </div>

      </div>

    </div>

    </div>

    <br><br>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

{% endblock %}