<!doctype html>

{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Rohit's Portfolio!</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>

    <br><br>
    <center>
          <h1 id="heading">
            --Welcome To My Portfolio--
          </h1>
    </center>
    <br><br><br>

    <div class="container">
      <div class="row justify-content-md-center">

        <div class="col col-lg-3">
      <center>
              <img src="{% static 'images/Rasgnya-bio-image.png' %}" height="300" width="250" ">
      </center>
    </div>



    <div class="col-md-auto">

    </div>

        <div class="col" id="inner_post">
      <center>
        <h3>
          Rasagnya Munjam
          <small class="text-muted"> <h5> Software Developer </h5> </small>
      </h3>
        <div>
            <p style="font-family: cursive;">
              <b>
                ---I am a web developer and designer and I combine both effectively in an amazing way.
        I use the power of CSS in a blend with animations to create a dynamic four-direction navigation website.
        Most websites will ordinarily exist in a stretch where you get to find a thing on a scroll but I have changed
        this rule so you can click on your choice button from any of the four cardinal positions.---
              </b>

      </p>
        </div>

      </center>
    </div>






  </div>

    </div>
    <br><br><br><br>

    <div class="container" id="freelancer" >
      <center>
        <h1 id="text">
          I occasionally take on freelance opportunities.
        </h1>
        Have an exciting project where you need some help?
        Send me over a message, and let's chat.
      </center>
    </div>

    <br><br><br>




























    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

{% endblock %}