<!DOCTYPE html>
{% extends 'base.html' %}
{% block content%}
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>

  <br><br>
    <div class="container" id="bio_content">
         <center style="align-content: center; padding-bottom:50px;">
                 <h1>.!*Education*!.</h1>
            <p>"Do you know the difference between education and experience? Education is when you read the fine print;
                experience is what you get when you don't."</p>
        </center>
    </div>

    <br><br>
  
    <div class="container" id="bio_content1">
    <div class="row">
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1 > !Schooling!</h1>
            <table class="table">

    <tr>
      <th scope="row">Pass-out:</th>
      <td >2011</td>

    </tr>
    <tr>
      <th scope="row">School:</th>
      <td>Gowtham Model School</td>
    </tr>

</table>
            </center>
                </div>

        <div class="col col-md-2" >
            <center>
                <img src="{% static 'images/cute-girl.jpg' %}" height="250" width="180" style="margin-left:100px; border-radius: 20px; ">
            </center>
        </div>

      </div>

        <br><br> <br><br> <br><br>


        <div class="row">

         <div class="col col-md-3" >

          <img src="{% static 'images/young_girl.jpg' %}" height="250" width="180" style="margin-right:100px; border-radius: 20px; ">
        </div>

        <div class="col col-lg-7" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> !Intermediate! </h1>
             <table class="table">

    <tr>
      <th scope="row">Pass-out:</th>
      <td >2013</td>

    </tr>
    <tr>
      <th scope="row">College:</th>
      <td>SR Junior college For girls</td>
    </tr>

    </table>
            </center>
                </div>
      </div>

        <br><br> <br><br> <br><br>


        <div class="row">
        <div class="col col-lg-8" style="border-radius: 0px 80px; box-shadow: 5px 10px;  ">
            <center>
                <h1> !Bachelors! </h1>
            <table class="table">

    <tr>
      <th scope="row">Pass-out:</th>
      <td>2017</td>

    </tr>
    <tr>
      <th scope="row">College:</th>
      <td> Vaagdevi Engineering College </td>
    </tr>

</table>
            </center>
                </div>

        <div class="col col-md-2" >

          <img src="{% static 'images/businesswoman.jpg' %}" height="250" width="200" style="margin-left:100px; border-radius: 20px; ">
        </div>
      </div>

        <br><br> <br><br> <br><br>


      </div>

    </div>

    </div>

    <br><br>

    <div class="container" id="bio_content">
         <center style="align-content: center; padding-bottom:50px;">
                 <h1>.!* My Skills *!.</h1>
            <div class="container" style="padding-top:20px;">
                <h3> -Django- </h3>
                <p>"Django is a high-level Python Web framework that encourages rapid development and clean,
                    pragmatic design."</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
             <div class="container" style="padding-top:50px;">
                <h3> -Python- </h3>
                 <p>"Python is an interpreted high-level general-purpose programming language.
                     Python's design philosophy emphasizes code readability with its notable use of significant
                     indentation."</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 65%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
             <div class="container" style="padding-top:50px;">
                <h3> -HTML- </h3>
                 <p>"The HyperText Markup Language, or HTML is the standard markup language for documents designed
                     to be displayed in a web browser."</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
             <div class="container" style="padding-top:50px;">
                <h3> -CSS- </h3>
                 <p>"Cascading Style Sheets is a style sheet language used for describing the presentation of a
                     document written in a markup language such as HTML." </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 65%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
             <div class="container" style="padding-top:50px;">
                <h3> -BOOTSTRAP- </h3>
                 <p>"Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first
                     front-end web development."</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 65%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
             <div class="container" style="padding-top:50px;">
                <h3> -SQL- </h3>
                 <p>"SQL is a domain-specific language used in programming and designed for managing data held in a
                     relational database management system, or for stream processing in a relational data stream
                     management system."</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
             <div class="container" style="padding-top:50px;">
                <h3> -GITHUB- </h3>
                 <p>"GitHub, Inc. is a provider of Internet hosting for software development and version control using Git.
                     It offers the distributed version control and source code management functionality of Git, plus its
                     own features."</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </center>

    </div>

    <br><br>
    <div class="container" id="bio_content">
         <center style="align-content: center; padding-bottom:50px;">
                 <h1>.!*Occupation*!.</h1>
            <h4>"Working as a Software Developer at Ojas Innovative Technology for past 2 years."</h4>
        </center>
    </div>

    <br><br><br><br>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

{% endblock %}